.containerForm {
  margin-top: 3%;
  margin-left: 70px;
  margin-right: 30px; 
  .dataCliente {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  form {
    .formComponent {
      display: flex;
      justify-content: space-between;
      .fecha:disabled {
        color: black;
      }
      mat-form-field {
        width: 100%;
      }
      .spacingComponents {
        margin-right: 2%;
      }
      .form-check {
        display: flex;
        align-items: center;
      }
      .pagado {
        display: flex;
        label {
          display: flex;
          align-items: center;
          margin-right: 10%;
        }
      }
      .importe {
        display: flex;
      }
    }
    .motivo {
      display: flex;
      flex-direction: column;
    }
  }
}

mat-form-field {
  overflow: hidden;
}


//SPINNER
.loader-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}

