<div class="container card card-body containerForm">
  <h2 class="spacingComponents">{{datos.ayN}} - {{datos.docNro}}</h2> 
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <!-- CODIGO DE BARRAS Y FECHA ++ ALERT DIV -->
    <div class="formComponent">
      <!-- CODIGO DE BARRAS -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Código de barras</mat-label>
        <input matInput formControlName="codigoBarras" />
      </mat-form-field>
      <!-- FECHA -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Fecha (año/mes/dia)</mat-label>
        <input matInput formControlName="fecha" class="fecha"/>
      </mat-form-field>
    </div>
    <!-- ALERT DIV CODIGO DE BARRAS -->
    <div
      class="alert alert-danger"
      [hidden]="profileForm.get('codigoBarras')?.valid"
    >
      Es necesario cargar un algo en el espacio del código de barras para grabar
      el reclamo
    </div>
    <!-- MONTO + CHECKBOX TICKET + FECHA COMPRA -->
    <div class="formComponent">
      <!-- FECHA DE COMPRA -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Fecha de compra</mat-label>
        <input type=date matInput formControlName="fechaCompra" />
      </mat-form-field>
      <!-- CHECKBOX TICKET -->
      <div class="pagado spacingComponents">
        <label for="">Ticket:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            formControlName="ticket"
          />
        </div>
      </div>
      <!-- MONTO DEL PRODUCTO -->
      <mat-form-field
      appearance="fill"
      floatLabel="always"
      class="spacingComponents"
    >
      <mat-label>Monto del producto</mat-label>
      <div class="importe"> <!-- OJO, TIENE LA MISMA CLASE QUE EL IMPORTE DEL TALLER -->
        <span matTextPrefix>$&nbsp;</span>
        <input
          matInput
          type="number"
          class="example-right-align"
          placeholder="0"
          formControlName="monto"
        />
      </div>
    </mat-form-field>
    </div>

    <!-- MOTIVO ++ ALERT DIV -->
    <div class="formComponent motivo">
      <!-- MOTIVO -->
      <mat-form-field appearance="fill">
        <mat-label>Motivo</mat-label>
        <textarea matInput formControlName="motivo"></textarea>
      </mat-form-field>
      <!-- ALERT DIV MOTIVO -->
      <div
        class="alert alert-danger"
        [hidden]="profileForm.get('motivo')?.valid"
      >
        Es necesario cargar un motivo para grabar el reclamo
      </div>
    </div>

    <!-- TIPO DE SOLUCION Y PROMETIDO DIA ++ ALERT DIV -->
    <div class="formComponent">
      <!-- TIPO DE SOLUCION -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label disabled>Tipo de solución</mat-label>
        <mat-select formControlName="estado">
          <mat-option value="aDeterminar">A determinar</mat-option>
          <mat-option value="taller">Taller</mat-option>
          <mat-option value="cambioDirecto">Cambio directo</mat-option>
          <mat-option value="boletaDeCargo">Boleta de Cargo</mat-option>
          <mat-option value="fueraGarantia">Fuera de garantía</mat-option>
          <mat-option value="horma">Horma</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- CONDICIONALES DE TALLER Y HORMA -->
      <ng-template [ngIf]="profileForm.get('estado')?.value == 'taller'">
        <mat-form-field appearance="fill" class="spacingComponents">
          <mat-label disabled>Opciones de taller</mat-label>
          <mat-select>
            <mat-option value="aReparacion">A reparación</mat-option>
            <mat-option value="enReparacion">En reparación</mat-option>
            <mat-option value="reparado">Reparado</mat-option>
            <mat-option value="entregadoTaller">Entregado</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
      <ng-template [ngIf]="profileForm.get('estado')?.value == 'horma'">
        <mat-form-field appearance="fill" class="spacingComponents">
          <mat-label disabled>Opciones de horma</mat-label>
          <mat-select>
            <mat-option value="pendiente">Pendiente</mat-option>
            <mat-option value="entregadoHorma">Entregado</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
      <!-- PROMETIDO DIA -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Prometido para el día</mat-label>
        <input type=date matInput formControlName="prometidoDia" />
      </mat-form-field>
    </div>
    <!-- ALERT DIV TIPO DE SOLUCION -->
    <div class="alert alert-danger" [hidden]="profileForm.get('estado')?.valid">
      Es necesario elegir un estado para grabar el reclamo
    </div>
    <!-- OBSERVACIONES -->
    <div class="formComponent">
      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observaciones"></textarea>
      </mat-form-field>
    </div>
    <!-- TALLER, IMPORTE Y CHECKBOX DE PAGADO -->
    <div class="formComponent">
      <!-- TALLER -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label disabled>Taller</mat-label>
        <mat-select formControlName="taller">
          <mat-option value="sinAsignar">Sin Asignar</mat-option>
          <mat-option value="danteSport">Dante "Sport D"</mat-option>
          <mat-option value="gabrielaPereyra">Gabiela Pereyra</mat-option>
          <mat-option value="georginaReinoso">Georgina Reinoso</mat-option>
          <mat-option value="perlaBarrio">Perla Barrio</mat-option>
          <mat-option value="walterOrdoñez">Walter Ordoñez</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- IMPORTE -->
      <mat-form-field
        appearance="fill"
        floatLabel="always"
        class="spacingComponents"
      >
        <mat-label>Importe</mat-label>
        <div class="importe">
          <span matTextPrefix>$&nbsp;</span>
          <input
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
            formControlName="importe"
          />
        </div>
        <!-- CHECKBOX DE PAGADO -->
      </mat-form-field>
      <div class="pagado">
        <label for="">Pagado:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            formControlName="pagado"
          />
          <!-- TRUE DE CHECKBOX ES COMO PAGADO, SI NO ESTÁ TILDADO SALE '' -->
        </div>
      </div>
    </div>
    <!-- BOTONES DE GRABAR Y BORRAR -->
    <div class="formComponent">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="profileForm.invalid"
      >
        Grabar
      </button>
      <button type="reset" class="btn btn-danger">
        Borrar todos los datos
      </button>
    </div>
  </form>
</div>
