<!-- SPINNER -->
<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner></mat-spinner>
</div>

<div class="card card-body divForm">
  <form class="inicioForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <!-- SELECTOR DE OPCIONES PARA BUSCAR ENTRE DNI Y RECLAMOS -->
    <mat-form-field appearance="fill">
      <mat-label disabled>DNI/RECLAMO</mat-label>
      <mat-select formControlName="eleccion">
        <mat-option value="DNI">DNI</mat-option>
        <mat-option value="Reclamo">Reclamo</mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- ALERT DIV NO SE ELIGIÓ OPCIÓN -->
    <div
      class="alert alert-danger"
      [hidden]="profileForm.get('eleccion')?.valid"
    >
      Es necesario elegir una opción para la búsqueda
    </div>
    <mat-form-field appearance="fill" class="spacingComponents">
      <mat-label>N° de Reclamo o DNI</mat-label>
      <input type="number" matInput formControlName="datos" />
    </mat-form-field>
    <!-- ALERT DIV NO SE ESCRIBIERON DATOS -->
    <div
      class="alert alert-danger"
      [hidden]="
        profileForm.get('datos')?.valid || profileForm.get('datos')?.pristine
      "
    >
      Es necesario colocar un número de reclamo o DNI para acceder a la búsqueda
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="profileForm.invalid"
    >
      Buscar
    </button>
  </form>
</div>
