<!-- SPINNER -->
<div *ngIf="!loadingComponent" class="loader-container">
  <mat-spinner></mat-spinner>
</div>
<!-- SPINNER INTERCEPTOR DE PETICONES HTTP-->
<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner></mat-spinner>
</div>
  
<app-buscador *ngIf="loadingComponent"></app-buscador>

<div class="card card-body containerForm" *ngIf="loadingComponent">
    <form class="formComponent" [formGroup]="profileForm">
        <div class="spacingComponents">
            <mat-form-field appearance="fill" class="spacingComponents">
                <mat-label>Fecha inicial de búsqueda</mat-label>
                <input type=date matInput formControlName="desde"/>
              </mat-form-field>
        </div>
        
        <div class="spacingComponents">
            <mat-form-field appearance="fill" class="spacingComponents">
                <mat-label>Fecha final de búsqueda</mat-label>
                <input type=date matInput formControlName="hasta"/>
              </mat-form-field>
        </div>
    </form>
    <div class="formComponent">
        <button class="btn btn-primary" type="submit" (click)="onSubmit()" [disabled]="profileForm.invalid">Iniciar Búsqueda</button>
    </div>
    <!-- RECLAMOS BUSCADOS POR FECHA -->
    <ag-grid-angular
        *ngIf="rowData.length != 0"
        class="ag-theme-material mt-3"
        id="agGrid"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        [pagination]=true
        [paginationPageSize]="25"
        [domLayout]="domLayout"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular> 

    <div class="alert alert-danger mt-2" *ngIf="rowData.length == 0">No hay filas para mostrar en las fechas seleccionadas.</div>
</div>

