.containerForm {
    margin-top: 3%;
    margin-left: 70px;
    margin-right: 30px; 
    .titulos {
        text-align: center;
    }
    .tiposReclamos {
        display: flex;
        flex-direction: row;
    }
    .reclamo {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 50%;
    }
    .spacingComponents {
        margin-right: 10%;
    }
    .itemDiv {
        margin-top: 5%; 
        button {
            height: 10%;
        }
    }
}

//SPINNER
.loader-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
  }