<div class="container card card-body containerForm">
    <div>
        <h3 class="titulos"><b>¿Qué tipo de reclamo necesitas cargar?</b></h3>
    </div>
    <div class="tiposReclamos">
        <div class="spacingComponents reclamo">
            <h4 class="itemDiv titulos"><b>Reclamo de mercadería</b></h4>
            <button class="btn btn-primary itemDiv" type="submit" (click)="onSubmitMercaderia()">Generar reclamo de mercadería</button>
            <p class="itemDiv">Los reclamos de mercadería son aquellos en los que se ve involucrado un producto, sea cual fuere 
            el motivo del reclamo.<br>
            Estos reclamos <b>DEBEN CARGARSE</b>, independientemente si el mismo se resuelva en el momento o se deje pendiente 
            para una resolución posterior.<br> 
            <b>EJ: "Mi zapatilla se despego", <br>"Los apliques de mi cartera se salieron de su lugar", <br>"Se descosió la tira 
            de mi producto"</b>
            </p>
        </div>
        <div class="reclamo">
            <h4 class="itemDiv titulos"><b>Reclamos varios</b></h4>
            <button class="btn btn-danger itemDiv" type="submit" (click)="onSubmitVarios()">Generar reclamos varios</button>
            <p class="itemDiv">Los reclamos varios son aquellos que no encuadran en fallas de productos, sino que se producen 
            por causas diversas que pueden surgir de cualquier situación.<br>
            Este tipo de reclamos <b>NO PUEDEN RESOLVERSE EN EL MOMENTO</b> (por cuestiones de tiempo o de falta de datos).<br> 
            <b>EJ: "Me cobraron dos veces el mismo producto", <br>"La tarjeta no me cargó el descuento en mi última compra", 
            <br>"Se me perdió una Nota de Crédito/GIFT"</b>
            </p>        
        </div>
    </div>
</div>

