<div class="containerDiv">
  <div class="lateralBar">
    <div class="divImg">
      <img src="../../../assets/tate.png" alt="" width="40px" />
      <!-- (click)="button_change = 'tate'" -->
    </div>
    <div class="divImg">
      <img src="../../../assets/Express.png" alt="" width="40px" />
      <!-- (click)="button_change = 'tExpress'" -->
    </div>
    <div class="divImg">
      <img src="../../../assets/kilroy.png" alt="" width="40px" />
      <!-- (click)="button_change = 'kilroy'" -->
    </div>
    <div class="divImg">
      <img src="../../../assets/kit.png" alt="" width="40px" />
      <!-- (click)="button_change = 'kit'" -->
    </div>
    <div class="divImg">
      <img src="../../../assets/kids.png" alt="" width="40px" />
      <!-- (click)="button_change = 'kKids'" -->
    </div>
  </div>
</div>
