<!-- SPINNER -->
<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-spinner></mat-spinner>
</div>

<div class="reclamo">
    <div>
        <h2 *ngIf="this.datos?.[0].docNro != null">{{this.datos?.[0].nombres}}, {{this.datos?.[0].apellidos}} - DNI: {{this.datos?.[0].docNro}}</h2>
        <h2 *ngIf="this.datos?.[0].docNro == null">Reclamo interno</h2>
        <h2>Reclamo: {{this.datos?.[0].reclamo}}</h2>
        <h3 style="color: red;">Pendiente</h3> 
    </div>
    <div class="codigoYDescripcion mt-5 datos">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-tag"></i>
            <input pInputText id="codbar" value={{this.datos?.[0].prodCodBar}}/>
            <label htmlFor="codbar">Código de barras</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-eye"></i>
            <input pInputText id="descrip" value={{this.datos?.[0].prodDescripcion}} />
            <label htmlFor="descrip">Descripción</label>
        </span>
    </div>
    <div class="fechaYSeccion mt-5 datos">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-calendar"></i>
            <input pInputText id="fecha" value={{this.fechaReclamo}} />
            <label htmlFor="fecha">Fecha</label>
        </span>
        <span *ngIf="this.datos?.[0].seccion != null" class="p-float-label p-input-icon-left">
            <i class="pi pi-marker"></i>
            <input pInputText id="seccion" value={{this.datos?.[0].seccion}} />
            <label htmlFor="seccion">Sección</label>
        </span>
    </div>
    <div *ngIf="this.datos?.[0].docNro != null" class="fechaCompraTicketYMonto mt-5 datos">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-question-circle"></i>
            <input pInputText id="fechaCompra" value={{this.fechaCompra}} />
            <label htmlFor="fechaCompra">Fecha de la compra</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-ticket"></i>
            <input pInputText id="ticket" value={{this.ticket}} />
            <label htmlFor="ticket">Ticket</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-dollar"></i>
            <input pInputText id="importe" value={{this.datos?.[0].importe}} />
            <label htmlFor="importe">Importe</label>
        </span>
    </div>
    <div class="motivo mt-5 datos">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-exclamation-circle"></i>
            <input pInputText id="motivo" value={{this.datos?.[0].motivo}} />
            <label htmlFor="motivo">Motivo</label>
        </span>
    </div>
    <div class="solucionOpcionYPrometidoDia mt-5 datos">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-ellipsis-v"></i>
            <input pInputText id="tipo" value={{this.datos?.[0].tipo}} />
            <label htmlFor="tipo">Tipo</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-align-justify"></i>
            <input pInputText id="idTipo" value={{this.opcion?.estado}} />
            <label htmlFor="idTipo">Opción</label>
        </span>
        <span *ngIf="this.datos?.[0].ncred != '' && this.datos?.[0].ncred != null" class="p-float-label p-input-icon-left">
            <i class="pi pi-ellipsis-v"></i>
            <input pInputText id="tipo" value={{this.datos?.[0].ncred}} />
            <label htmlFor="tipo">NC</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <!-- DEJO ESTE COMENTARIO PARA EL FUTURO. LOS RECLAMOS INTERNOS VAN A DEJAR DE TENER FECHA PROMETIDO, SI ALGUN DIA SE ROMPE
            EL INPUT ES PORQUE LOS VIEJOS SI TIENEN PROMETIDO DIA PERO LOS NUEVOS YA NO VAN A TENER -->
            <i class="pi pi-calendar-plus"></i>
            <input pInputText id="prometido" value={{this.prometidoDia}} />
            <label htmlFor="prometido">Día prometido</label>
        </span>
    </div>
    <div class="tallerImporteYPagado mt-5 datos">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-home"></i>
            <input pInputText id="Taller" value={{this.datos?.[0].taller}}/>
            <label htmlFor="Taller">Taller</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-money-bill"></i>
            <input pInputText id="costo" value={{this.datos?.[0].costo}} />
            <label htmlFor="costo">Costo</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-check-circle"></i>
            <input pInputText id="pagado" value={{this.datos?.[0].pagado}} />
            <label htmlFor="pagado">Pagado</label>
        </span>
    </div>
    <div class="observacionesYResolucion mt-5 datos">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-book"></i>
            <input pInputText id="solucion" value={{this.datos?.[0].solucion}}/>
            <label htmlFor="solucion">Solucion</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-history"></i>
            <input pInputText id="observaciones" value={{this.datos?.[0].observaciones}} />
            <label htmlFor="observaciones">Observaciones</label>
        </span>
    </div>

    <p-button icon="pi pi-info-circle" (click)="irReclamo()" label="Ir al Reclamo" styleClass="p-button-text p-button-danger"></p-button>
</div>