<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner></mat-spinner>
</div>

<div class="container card card-body containerForm">
  <!-- DATOS RECLAMO -->
  <ng-template [ngIf]="profileForm.get('reclamo')?.value != ''">
    <h2 class="spacingComponents">Reclamo: {{datosReclamo.reclamo}} </h2>
  </ng-template>
  <ng-template [ngIf]="profileForm.get('reclamo')?.value == ''">
    <h2 class="spacingComponents">Nuevo reclamo</h2>
  </ng-template>
  <!-- RECLAMO CERRADO O ABIERTO -->
  <ng-template [ngIf]="profileForm.get('cerrado')?.value == 'Sí'">
    <h3 style="color: green;">Cerrado</h3> 
  </ng-template>
  <ng-template [ngIf]="profileForm.get('cerrado')?.value == 'No'">
    <h3 style="color: red;">Pendiente</h3> 
  </ng-template>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <!-- CODIGO DE BARRAS, SECCION Y FECHA FIJA ++ ALERT DIV -->
    <div class="formComponent">
      <!-- CODIGO DE BARRAS -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Código de barras</mat-label>
        <input matInput formControlName="codigoBarras" (blur)="onChange()"/>
      </mat-form-field>
      <!-- SECCION -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label disabled>Sección</mat-label>
        <mat-select formControlName="seccion">
          <mat-option value="ADMRIOIV">Administración</mat-option>
          <mat-option value="AUTOSERVICIO">Autoservicio</mat-option>
          <mat-option value="CARTERAS">Carteras</mat-option>
          <mat-option value="DAMAS">Damas</mat-option>
          <mat-option value="DEPORTES">Deportes/Sneakers</mat-option>
          <mat-option value="HOMBRES">Hombres</mat-option>
          <mat-option value="NINOS">Niños</mat-option>
          <mat-option value="ZAPATILLERIA">Zapatillería</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- FECHA -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Fecha (año/mes/dia)</mat-label>
        <input matInput formControlName="fecha" class="fecha" readonly="disabled"/>
      </mat-form-field>
    </div>
    <!-- DESCRIPCION DE CÓDIGO -->
      <ng-template [ngIf]="profileForm.get('codigoBarras')?.value != ''">
        <h4 style="color: grey;">Descripción: {{producto}}</h4>
      </ng-template>
    <!-- ALERT DIV CODIGO DE BARRAS -->
    <div
      class="alert alert-danger"
      [hidden]="profileForm.get('codigoBarras')?.valid"
    >
      Es necesario cargar un algo en el espacio del código de barras para grabar
      el reclamo
    </div>

    <!-- TIPO DE SOLUCION Y TALLER ++ ALERT DIV -->
    <div class="formComponent">
      <!-- TIPO DE SOLUCION -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label disabled>Tipo de solución</mat-label>
        <mat-select formControlName="estado">
          <mat-option value="A Reparación">A reparación</mat-option>
          <mat-option value="En Reparación">En reparación</mat-option>
          <mat-option value="Reparado" disabled>Reparado</mat-option>
          <mat-option value="Entregado">Entregado</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- TALLER -->
      <mat-form-field appearance="fill">
        <mat-label disabled>Taller</mat-label>
        <mat-select formControlName="taller">
          <mat-option value="<Sin Asignar>">Sin Asignar</mat-option>
          <mat-option value="Dante">Dante "Sport D"</mat-option>
          <mat-option value="Gabriela">Gabiela Pereyra</mat-option>
          <mat-option value="Georgina Reinoso">Georgina Reinoso</mat-option>
          <mat-option value="Perla">Perla Barrio</mat-option>
          <mat-option value="Ordoñez Walter">Walter Ordoñez</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ALERT DIV TIPO DE SOLUCION -->
    <div class="alert alert-danger" [hidden]="profileForm.get('estado')?.valid">
      Es necesario elegir un estado para grabar el reclamo
    </div>

    <!-- MOTIVO ++ ALERT DIV -->
    <div class="formComponent motivo">
      <!-- MOTIVO -->
      <mat-form-field appearance="fill">
        <mat-label>Motivo</mat-label>
        <textarea matInput formControlName="motivo"></textarea>
      </mat-form-field>
      <!-- ALERT DIV MOTIVO -->
      <div
        class="alert alert-danger"
        [hidden]="profileForm.get('motivo')?.valid"
      >
        Es necesario cargar un motivo para grabar el reclamo
      </div>

    </div>
    <!-- OBSERVACIONES -->
    <div class="formComponent">
      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observaciones"></textarea>
      </mat-form-field>
    </div>

    <!-- IMPORTE Y CHECKBOX DE PAGADO -->
    <div class="formComponent">
      <!-- IMPORTE -->
      <mat-form-field
        appearance="fill"
        floatLabel="always"
        class="spacingComponents"
      >
        <mat-label>Importe</mat-label>
        <div class="importe">
          <span matTextPrefix>$&nbsp;</span>
          <input
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
            formControlName="importe"
          />
        </div>
        <!-- CHECKBOX DE PAGADO -->
      </mat-form-field>
      <div class="pagado">
        <label for="">Pagado:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            formControlName="pagado"
          />
          <!-- TRUE DE CHECKBOX ES COMO PAGADO, SI NO ESTÁ TILDADO SALE '' -->
        </div>
      </div>
    </div>
    
    <!-- BOTONES DE GRABAR Y NUEVO -->
    <div class="formComponent">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="profileForm.invalid"
      >
        Grabar
      </button>
      <button type="reset" class="btn btn-danger">Nuevo</button>
    </div>
  </form>
</div>
