<div class="divReclamoInt">
  <form class="formReclamoInt">
    <div class="reclamo1">
      <input placeholder="Código de barras" class="codigoBarras" />
      <input placeholder="Fecha" />
    </div>
    <div class="reclamo2">
      <select class="form-select" aria-label="Default select example">
        <option selected disabled>Sección</option>
        <option value="1">Administración</option>
        <option value="2">Autoservicio</option>
        <option value="3">Carteras</option>
        <option value="4">Damas</option>
        <option value="5">Deportes/Sneakers</option>
        <option value="6">Hombres</option>
        <option value="7">Zapatillería</option>
      </select>
    </div>
    <div class="reclamo3">
      <input placeholder="Motivo" />
    </div>
    <div class="reclamo4">
      <select class="form-select" aria-label="Default select example">
        <option selected disabled>Tipo de solución</option>
        <option value="1">A reparación</option>
        <option value="2">En reparación</option>
        <option value="3">Entregado</option>
      </select>
    </div>
    <div class="reclamo5">
      <input placeholder="Observaciones" />
    </div>
    <div class="reclamo6">
      <select class="form-select" aria-label="Default select example">
        <option selected disabled>Taller</option>
        <option value="1">Sin Asignar</option>
        <option value="2">Dante "Sport D"</option>
        <option value="3">Gabriela Pereyra</option>
        <option value="4">Georgina Reinoso</option>
        <option value="5">Perla Barrio</option>
        <option value="6">Walter Ordoñez</option>
      </select>
      <input placeholder="Costo" class="costo" />
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
      </div>
    </div>
    <div class="reclamo7">
      <button type="button" class="btn btn-secondary">Grabar</button>
      <button type="button" class="btn btn-secondary">Nuevo</button>
    </div>
  </form>
</div>
