mat-card {
  padding: 5px;
}
.colorDiv {
  display: flex;
  align-items: center;
  background-color: rgb(231, 92, 92);
  height: 100px;
  transition: 1s;
  .options {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
    list-style: none;
    :hover {
      transition: 0.5s;
      //transform: scale(1.5);
    }
    .iconDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-style: none;
      background-color: transparent;
      font-family: "Raleway", sans-serif;
      color: whitesmoke;
    }
  }
}
img:hover {
  filter: invert(100%);
}
//clases para cambios de color

//TATE
.tate {
  background-color: rgb(231, 92, 92);
}

//TATE EXPRESS
.tExpress {
  background-color: rgb(109, 170, 165);
}

//KILROY
.kilroy {
  background-color: rgb(70, 68, 68);
}

//KIT
.kit {
  background-color: rgb(238, 177, 64);
}

//KILROY KIDS
.kKids {
  background-color: rgb(151, 175, 114);
}
