.containerNavbar {
  position: sticky;
  top: 0px;
  z-index: 1;
  mat-card {
    padding: 5px;
    background-color: rgb(228, 64, 64);
    border-radius: 0px;
  }
}
.colorDiv {
  display: flex;
  align-items: center;
  height: 100px;
  transition: 1s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .options {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
    list-style: none;
    :hover {
      transition: 0.5s;
      //transform: scale(1.5);
    }
    .iconDiv {
      border-style: none;
      background-color: transparent;
      font-family: "Raleway", sans-serif;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: whitesmoke;
        p {
          margin: 0px 0px 0px 10px;
        }
      }
    }
  }
}
img:hover {
  filter: invert(100%);
}

.activeResponsive {
  img {
    filter: invert(100%);
  }
}

//CLASES PARA CAMBIO DE COLOR

//TATE
.tate {
  transition: all 1.0s ease-out;
  background-color: rgb(231, 92, 92);
}
//TATE EXPRESS
.texpress {
  transition: all 1.0s ease-out;
  background-color: rgb(109, 170, 165);
}
//KILROY
.kilroy {
  transition: all 1.0s ease-out;
  background-color: rgb(70, 68, 68);
}
//KIT EXPRESS
.kit {
  transition: all 1.0s ease-out;
  background-color: rgb(216, 154, 40);
}
//KILROY KIDS
.kids {
  transition: all 1.0s ease-out;
  background-color: rgb(151, 175, 114);
}


// HEIGTH HASTA 600 ++ WIDTH HASTA 800
@media screen and (max-height: 600px) and (max-width: 800px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

// HEIGTH HASTA 600 ++ WIDTH POST 800
@media screen and (max-height: 600px) and (min-width: 800px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

// HEIGTH POST 600 ++ WIDTH HASTA 800
@media screen and (min-height: 600px) and (max-width: 800px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

//HEIGTH POST 600 ++ WIDTH POST 800
@media screen and (min-height: 600px) and (min-width: 800px) {
  .containerDiv {
    position: fixed;
    .lateralBar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 75px;
      height: 400px;
      margin-top: 75px;
      transition: width, 1s;
      div {
        display: flex;
        justify-content: center;
      }
    }
    .lateralBar:hover {
      width: 90px;
    }
  }
  .logoLocal {
    transition: width, 0.5s;
    //filter: invert(100%);
  }
  .logoLocal:hover {
    width: 60px;
  }
}