.containerNavbar {
  position: sticky;
  top: 0px;
  z-index: 1;
  mat-card {
    padding: 5px;
    background-color: rgb(228, 64, 64);
    border-radius: 0px;
  }
}
.colorDiv {
  display: flex;
  align-items: center;
  height: 100px;
  transition: 1s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .options {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 2%;
    width: 100%;
    list-style: none;
    :hover {
      transition: 0.5s;
      //transform: scale(1.5);
    }
    .iconDiv {
      border-style: none;
      background-color: transparent;
      font-family: "Raleway", sans-serif;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: whitesmoke;
        cursor: pointer;
        p {
          margin: 0px 0px 0px 10px;
        }
      }
    }
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  //background: rgb(134, 102, 180);
  background: whitesmoke;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

//CLASES PARA CAMBIO DE COLOR

//TATE
.tate {
  transition: all 1.0s ease-out;
  background-color: rgb(231, 92, 92);
}
//TATE EXPRESS
.texpress {
  transition: all 1.0s ease-out;
  background-color: rgb(109, 170, 165);
}
//KILROY
.kilroy {
  transition: all 1.0s ease-out;
  background-color: rgb(70, 68, 68);
}
//KIT EXPRESS
.kit {
  transition: all 1.0s ease-out;
  background-color: rgb(216, 154, 40);
}
//KILROY KIDS
.kids {
  transition: all 1.0s ease-out;
  background-color: rgb(151, 175, 114);
}

//COMO SON VARIAS MEDIA, DEJO LAS MEDIDAS Y LOS CODIGOS PARA CADA SELECCION
//WIDTH => +600 // -600
//HEIGHT => +600 // +525 // -524

//EJEMPLO DE CODIGO: QUIERO BUSCAR WIDTH +600 Y HEIGHT +525 = H+525W+600
//                   QUIERO BUSCAR WIDTH -600 Y HEIGHT +600 = H+600W-600 

//H+600W+600
//HEIGHT POST 600 WIDTH POST 600
@media screen and (min-height: 600px) and (min-width: 600px) {
  .containerDiv {
    position: fixed;
    .lateralBar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 75px;
      height: 400px;
      margin-top: 75px;
      transition: width, 1s;
      div {
        display: flex;
        justify-content: center;
      }
    }
    .lateralBar:hover {
      width: 90px;
    }
  }
  .logoLocal {
    transition: width, 0.5s;
  }
  .logoLocal:hover {
    width: 60px;
  }
  mat-card-content {
    img:hover {
      filter: invert(100%);
    }
  }
}

//H+600W-600
//HEIGHT POST 600 WIDTH HASTA 600
@media screen and (min-height: 600px) and (max-width: 600px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

//H+525W+600
//HEIGHT POST 525 WIDTH POST 600
@media screen and (min-height: 525px) and (min-width: 600px){
  .containerDiv {
    position: fixed;
    .lateralBar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 75px;
      height: 400px;
      transition: width, 1s;
      div {
        display: flex;
        justify-content: center;
      }
    }
    .lateralBar:hover {
      width: 90px;
    }
  }
  .logoLocal {
    transition: width, 0.5s;
  }
  .logoLocal:hover {
    width: 60px;
  }
  mat-card-content {
    img:hover {
      filter: invert(100%);
    }
  }
}

//H+525W-600
//HEIGHT POST 525 WIDTH HASTA 600
@media screen and (min-height: 525px) and (max-width: 600px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

//H-524W+600
// HEIGHT HASTA 525 WIDTH POST 600
@media screen and (max-height: 524px) and (min-width: 600px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

//H-524W-600
// HEIGHT HASTA 524 WIDTH HASTA 600
@media screen and (max-height: 524px) and (max-width: 600px) {
  .containerDiv {
      display: flex;
      justify-content: center;
      .lateralBar {
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
        width: 100%;
        mat-card-content {
          display: flex;
          justify-content: center;
          transition: filter, 0.5s;
          margin: 0;
          img {
            width: 50px;
            height: 40px;
          }
          img:hover {
            filter: invert(100%);
          }
        }
      }
    }
  }


