<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
  rel="stylesheet"
/>
<mat-card> </mat-card>
<div class="containerNavbar d-none d-md-block card">
  <div class="colorDiv">
    <!--[class]="button_change"-->
    <ul class="options">
      <li>
        <div class="iconDiv">
          <img src="../../../assets/inicio.png" alt="inicio" width="40px" />
          <p>Inicio</p>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <img
            src="../../../assets/listadereclamos.png"
            alt="lista de reclamos"
            width="40px"
          />
          <p>Lista de reclamos</p>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <img
            src="../../../assets/reclamosinternos.png"
            alt="reclamos internos"
            width="40px"
          />
          <p>Reclamos internos</p>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <img
            src="../../../assets/reclamosareparacion.png"
            alt="reclamos a reparacion"
            width="40px"
          />
          <p>Reclamos a reparación</p>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <img
            src="../../../assets/reclamosenreparacion.png"
            alt="reclamos a reparacion"
            width="40px"
          />
          <p>Reclamos en reparación</p>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <img
            src="../../../assets/bcargo.png"
            alt="boletas de cargo"
            width="40px"
          />
          <p>Boletas de cargo</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="containerNavbar d-block d-md-none card">
  <div class="colorDiv">
    <!--[class]="button_change"-->
    <ul class="options">
      <li>
        <img src="../../../assets/inicio.png" alt="inicio" width="40px" />
      </li>
      <li>
        <img
          src="../../../assets/listadereclamos.png"
          alt="lista de reclamos"
          width="40px"
        />
      </li>
      <li>
        <img
          src="../../../assets/reclamosinternos.png"
          alt="reclamos internos"
          width="40px"
        />
      </li>
      <li>
        <img
          src="../../../assets/reclamosareparacion.png"
          alt="reclamos a reparacion"
          width="40px"
        />
      </li>
      <li>
        <img
          src="../../../assets/reclamosenreparacion.png"
          alt="reclamos en reparacion"
          width="40px"
        />
      </li>
      <li>
        <img
          src="../../../assets/bcargo.png"
          alt="boletas de cargo"
          width="40px"
        />
      </li>
    </ul>
  </div>
</div>
