<!-- ESTILO DE LETRAS -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
  rel="stylesheet"
/>

<!-- PANTALLAS MAS GRANDES -->

<div class="containerNavbar d-none d-md-block card" 
  [ngClass]="{
    'tate' : cambioLocal == 'Tate',
    'texpress' : cambioLocal == 'TateExpress',
    'kilroy' : cambioLocal == 'Kilroy',
    'kids' : cambioLocal == 'KilroyKids',
    'kit' : cambioLocal == 'KitExpress'
    }"
    >
  <mat-card> </mat-card>
  <div class="colorDiv">
    <ul class="options">
      <li>
        <div class="iconDiv">
          <a routerLinkActive="active" (click)="home()">
            <img src="../../../assets/inicio.png" alt="inicio" width="40px" />
            <p>Inicio</p>
          </a>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <a routerLinkActive="active" (click)="listaReclamos()">
            <img
              src="../../../assets/listadereclamos.png"
              alt="lista de reclamos"
              width="40px"
            />
            <p>
              Lista de <br />
              reclamos
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <a routerLinkActive="active" (click)="reclamoInterno()">
            <img
              src="../../../assets/reclamosinternos.png"
              alt="reclamos internos"
              width="40px"
            />
            <p>
              Reclamos <br />
              internos
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <a routerLinkActive="active" (click)="reclamosAReparacion()">
            <img
              src="../../../assets/reclamosareparacion.png"
              alt="reclamos a reparacion"
              width="40px"
            />
            <p>
              Reclamos a <br />
              reparación
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <a routerLinkActive="active" (click)="reclamosEnReparacion()">
            <img
              src="../../../assets/reclamosenreparacion.png"
              alt="reclamos en reparacion"
              width="40px"
            />
            <p>
              Reclamos en <br />
              reparación
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="iconDiv">
          <a routerLinkActive="active" (click)="bCargo()">
            <img
              src="../../../assets/bcargo.png"
              alt="boletas de cargo"
              width="40px"
            />
            <p>
              Boletas <br />
              de cargo
            </p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- PANTALLAS MAS PEQUEÑAS -->

<div class="containerNavbar d-block d-md-none card"
[ngClass]="{
  'tate' : cambioLocal == 'Tate',
  'texpress' : cambioLocal == 'TateExpress',
  'kilroy' : cambioLocal == 'Kilroy',
  'kids' : cambioLocal == 'KilroyKids',
  'kit' : cambioLocal == 'KitExpress'
  }">
  <mat-card> </mat-card>
  <div class="colorDiv">
    <ul class="options">
      <li>
        <a routerLinkActive="activeResponsive" (click)="home()">
          <img src="../../../assets/inicio.png" alt="inicio" width="40px" />
        </a>
      </li>
      <li>
        <a routerLinkActive="activeResponsive" (click)="listaReclamos()">
          <img
            src="../../../assets/listadereclamos.png"
            alt="lista de reclamos"
            width="40px"
          />
        </a>
      </li>
      <li>
        <a routerLinkActive="activeResponsive" (click)="reclamoInterno()">
          <img
            src="../../../assets/reclamosinternos.png"
            alt="reclamos internos"
            width="40px"
          />
        </a>
      </li>
      <li>
        <a routerLinkActive="activeResponsive" (click)="reclamosAReparacion()">
          <img
            src="../../../assets/reclamosareparacion.png"
            alt="reclamos a reparacion"
            width="40px"
          />
        </a>
      </li>
      <li>
        <a
          routerLinkActive="activeResponsive"
          (click)="reclamosEnReparacion()"
        >
          <img
            src="../../../assets/reclamosenreparacion.png"
            alt="reclamos en reparacion"
            width="40px"
          />
        </a>
      </li>
      <li>
        <a routerLinkActive="activeResponsive" (click)="bCargo()">
          <img
            src="../../../assets/bcargo.png"
            alt="boletas de cargo"
            width="40px"
          />
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- BARRA LATERAL, OPCIONAL QUITARLA SI DESPUES EN LA VERSION FINAL SE HACE UNA PAGINA PARA CADA LOCAL -->
<div class="containerDiv">
  <mat-card class="lateralBar">
    <mat-card-content class="divImg">
      <a routerLink="Tate/home" (click)="cambioTate()">
        <img src="../../../assets/tate.png" alt="tate-logo" width="40px" class="logoLocal"/>
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="TateExpress/home" (click)="cambioExpress()">
        <img src="../../../assets/Express.png" alt="tateExpress-logo" width="40px" class="logoLocal"/>
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="Kilroy/home" (click)="cambioKilroy()">
        <img src="../../../assets/kilroy.png" alt="kilroy-logo" width="40px" class="logoLocal"/>
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="KitExpress/home" (click)="cambioKit()">
        <img src="../../../assets/kit.png" alt="kitExpress-logo" width="40px" class="logoLocal"/>
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="KilroyKids/home" (click)="cambioKids()">
        <img src="../../../assets/kids.png" alt="kilroyKids-logo" width="40px" class="logoLocal"/>
      </a>
    </mat-card-content>
  </mat-card>
</div>