.containerForm {
    margin-top: 3%;
    margin-left: 70px;
    margin-right: 30px; 
    .dataCliente {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    form {
      .formComponent {
        display: flex;
        justify-content: space-around;
        .fecha:disabled {
          color: black;
        }
        mat-form-field {
          width: 100%;
        }
      }
      .motivo {
        display: flex;
        flex-direction: column;
      }
      .fechaTipo {
        mat-form-field {
          overflow: hidden;
        }
      }
    }
  }

.spacingComponents {
  margin-right: 2%;
}

//SPINNER
.loader-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}