.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 5% 30% 0% 30%;
}
.cuerpo {
  background: url(https://i.ibb.co/ZfSdQrQ/3804949.jpg);
  background-size: contain;
}
.buttonHome {
  text-decoration: none;
  color: white;
}
