<div class="containerDiv">
  <mat-card class="lateralBar">
    <mat-card-content class="divImg">
      <img src="../../../assets/tate.png" alt="" width="40px" />
      <!-- (click)="button_change = 'tate'" -->
    </mat-card-content>
    <mat-card-content class="divImg">
      <img src="../../../assets/Express.png" alt="" width="40px" />
      <!-- (click)="button_change = 'tExpress'" -->
    </mat-card-content>
    <mat-card-content class="divImg">
      <img src="../../../assets/kilroy.png" alt="" width="40px" />
      <!-- (click)="button_change = 'kilroy'" -->
    </mat-card-content>
    <mat-card-content class="divImg">
      <img src="../../../assets/kit.png" alt="" width="40px" />
      <!-- (click)="button_change = 'kit'" -->
    </mat-card-content>
    <mat-card-content class="divImg">
      <img src="../../../assets/kids.png" alt="" width="40px" />
      <!-- (click)="button_change = 'kKids'" -->
    </mat-card-content>
  </mat-card>
</div>
