// HEIGTH HASTA 600 ++ WIDTH HASTA 800
@media screen and (max-height: 600px) and (max-width: 800px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

// HEIGTH HASTA 600 ++ WIDTH POST 800
@media screen and (max-height: 600px) and (min-width: 800px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

// HEIGTH POST 600 ++ WIDTH HASTA 800
@media screen and (min-height: 600px) and (max-width: 800px) {
  .containerDiv {
    display: flex;
    justify-content: center;
    .lateralBar {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      width: 100%;
      mat-card-content {
        display: flex;
        justify-content: center;
        transition: filter, 0.5s;
        margin: 0;
        img {
          width: 50px;
          height: 40px;
        }
        img:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

//HEIGTH POST 600 ++ WIDTH POST 800
@media screen and (min-height: 600px) and (min-width: 800px) {
  .containerDiv {
    position: fixed;
    .lateralBar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 75px;
      height: 400px;
      margin-top: 75px;
      transition: width, 1s;
      div {
        display: flex;
        justify-content: center;
      }
    }
    .lateralBar:hover {
      width: 90px;
    }
  }
  img {
    transition: width, 0.5s;
    //filter: invert(100%);
  }
  img:hover {
    width: 60px;
  }
}