<div class="containerDiv">
  <mat-card class="lateralBar">
    <mat-card-content class="divImg">
      <a routerLink="home/tate">
        <img src="../../../assets/tate.png" alt="tate-logo" width="40px" />
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="home/tateexpress">
        <img src="../../../assets/Express.png" alt="tateExpress-logo" width="40px" />
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="home/kilroy">
        <img src="../../../assets/kilroy.png" alt="kilroy-logo" width="40px" />
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="home/kitexpress">
        <img src="../../../assets/kit.png" alt="kitExpress-logo" width="40px" />
      </a>
    </mat-card-content>
    <mat-card-content class="divImg">
      <a routerLink="home/kilroykids">
        <img src="../../../assets/kids.png" alt="kilroyKids-logo" width="40px" />
      </a>
    </mat-card-content>
  </mat-card>
</div>
