<div class="container card card-body containerForm">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h2 *ngFor="let user of user">{{user.ayN}} - {{user.docNro}}</h2>
    <!-- NOMBRE COMPLETO ++ ALERT DIV -->
    <div class="formComponent">
      <!-- NOMBRE Y APELLIDO -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Nombre/s</mat-label>
        <input matInput formControlName="nombre"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Apellido/s</mat-label>
        <input matInput formControlName="apellido"/>
      </mat-form-field>
    </div>
    <!-- ALERT DIV NOMBRE Y APELLIDO -->
    <div
      class="alert alert-danger"
      [hidden]="
        profileForm.get('nombre')?.valid && profileForm.get('apellido')?.valid
      "
    >
      Es necesario colocar al menos un nombre y un apellido
    </div>
    <!-- DOMICILIO + PISO/DPTO DIV -->
    <div class="formComponent">
      <!-- DOMICILIO -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Domicilio</mat-label>
        <input matInput formControlName="domicilio"/>
      </mat-form-field>
      <!-- PISO -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Piso/Dpto</mat-label>
        <input matInput formControlName="pisoDpto"/>
      </mat-form-field>
    </div>
    <!-- LOCALIDAD + CP DIV -->
    <div class="formComponent">
      <!-- LOCALIDAD -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Localidad</mat-label>
        <input matInput formControlName="localidad"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Código Postal</mat-label>
        <input matInput formControlName="codigoPostal"/>
      </mat-form-field>
    </div>
    <!-- TELEFONO DIV -->
    <div class="formComponent motivo">
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono"/>
      </mat-form-field>
    </div>
    <!-- OBSERVACIONES DIV -->
    <div class="formComponent">
      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observaciones"></textarea>
      </mat-form-field>
    </div>

    <!-- BOTON GRABAR -->
    <div class="formComponent">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="profileForm.invalid"
      >
        Grabar
      </button>
    </div>
  </form>
</div>
