<div class="container card card-body containerForm">
  <form [formGroup]="profileForm" (ngSubmit)="nuevoCliente()">
    <ng-template [ngIf]="datos?.ayN != undefined">
      <h2 class="spacingComponents">{{datos?.ayN}} - {{datos?.docNro}}</h2>
    </ng-template>
    <ng-template [ngIf]="datos?.ayN == undefined">
      <h2 class="spacingComponents">Nuevo cliente - {{nuevoDocNro}} </h2>
    </ng-template>
    <!-- NOMBRE COMPLETO ++ ALERT DIV -->
    <div class="formComponent">
      <!-- NOMBRE Y APELLIDO -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Nombre/s</mat-label>
        <input matInput formControlName="nombre"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Apellido/s</mat-label>
        <input matInput formControlName="apellido"/>
      </mat-form-field>
    </div>
    <!-- ALERT DIV NOMBRE Y APELLIDO -->
    <div
      class="alert alert-danger"
      [hidden]="
        profileForm.get('nombre')?.valid && profileForm.get('apellido')?.valid
      "
    >
      Es necesario colocar al menos un nombre y un apellido
    </div>
    <!-- CALLE + NUMERO + PISO/DPTO DIV -->
    <div class="formComponent">
      <!-- CALLE -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Calle</mat-label>
        <input matInput formControlName="domicilio"/>
      </mat-form-field>
      <!-- LOCALIDAD -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero"/>
      </mat-form-field>
      <!-- PISO -->
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Piso/Dpto</mat-label>
        <input matInput formControlName="pisoDpto"/>
      </mat-form-field>
    </div>
    <!-- ALERT DIV FORMATO CALLE -->
    <div class="alert alert-danger">
      Si se desea cambiar el número o el piso/dpto es necesario borrarlo de la calle y colocar los nuevos
      en los espacios correspondientes. <b>SI NO SE BORRAN MANUALMENTE LOS QUE YA ESTAN, VAN A QUEDAR ANTES
      QUE LOS NUEVOS AGREGADOS</b>. Esto no funciona con clientes cargados en el soluciones anterior.
    </div>

    <!-- LOCALIDAD + CP DIV  ACTUALMENTE EN DESUSO-->
      <!-- ACTUALMENTE DESHABILITADO PORQUE NO EXISTE EL CODIGO POSTAL EN LAS API -->

      <!-- <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Código Postal</mat-label>
        <input matInput formControlName="codigoPostal"/>
      </mat-form-field> -->

    <div class="formComponent">
    </div>
    
    <!-- TELEFONO DIV -->
    <div class="formComponent motivo">
      <mat-form-field appearance="fill" class="spacingComponents">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono"/>
      </mat-form-field>
    </div>
    <!-- OBSERVACIONES DIV -->
    <div class="formComponent">
      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observaciones"></textarea>
      </mat-form-field>
    </div>

    <!-- BOTON GRABAR -->
    <div class="formComponent">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="profileForm.invalid"
      >
        Grabar
      </button>
    </div>
  </form>
</div>
