.containerForm {
  margin-top: 3%;
  margin-left: 70px;
  margin-right: 30px; 
  form {
    .cambioDatos {
      display: flex;
      flex-direction: column;
      .inputCambios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    .formComponent {
      display: flex;
      justify-content: space-around;
      mat-form-field {
        width: 100%;
      }
    }
  }
}

.spacingComponents {
  margin-right: 2%;
}

mat-form-field {
  overflow: hidden;
}

//SPINNER
.loader-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}