.divForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  margin-right: 30px;
}

.inicioForm {
  display: flex;
  justify-content: space-evenly;

  button {
    width: 100px;
    height: 50px;
  }
  mat-form-field {
    width: 100%;
    overflow: hidden;
    margin-right: 1%;
  }
}

  