.containerList{
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    .cliente {
        display: flex;
        justify-content: center;
        text-align: center;
        .spacingComponents {
            margin-right: 3%;
          }
        h2 {
            margin-bottom: 0;
        }
    }
}

// CONFIGURACION STYLE DE AG GRID
.ag-theme-balham {
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-height: 100%;
    --ag-header-column-separator-width: 2px;
    --ag-header-column-separator-color: rgba(0, 0, 0, 0.692);
}
