@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
.containerList{
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    .cliente {
        display: flex;
        justify-content: center;
        text-align: center;
        .spacingComponents {
            margin-right: 3%;
          }
        h2 {
            margin-bottom: 0;
        }
    }
}
table {
    width: 100%;
  }