<div class="container card card-body containerList">
    <div class="cliente">
        <!-- DATOS DEL CLIENTE -->
        <ng-template [ngIf]="datos?.ayN.value != ''">
            <h2 class="spacingComponents">{{datos?.ayN}} - {{datos?.docNro}}</h2>
        </ng-template>
        <button class="btn btn-primary spacingComponents" type="submit" (click)="onSubmit()">
            Nuevo reclamo
        </button>
    </div>
    <!-- HISTORIAL DE RECLAMOS DE CLIENTE -->
    <ag-grid-angular
      class="ag-theme-balham mt-3"
      style="width: 100%; height: 70%"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      ></ag-grid-angular> 
</div>  

