.containerList{
    margin-top: 3%;
    margin-left: 70px;
    margin-right: 30px; 
    .cliente {
        display: flex;
        justify-content: center;
        text-align: center;
        .spacingComponents {
            margin-right: 3%;
          }
        h2 {
            margin-bottom: 0;
        }
    }
}
//SPINNER
.loader-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
  }