<div class="container card card-body containerDiv">
  <form class="container bCargo">
    <div>
    <!-- DATEPICKER PARA SELECIONAR FECHA DE BOLETAS DE CARGO -->
    <mat-form-field appearance="fill" class="spacingComponents">
      <mat-label>Fecha inicial de búsqueda</mat-label>
      <input type=date matInput [formControl]="date"/>
    </mat-form-field>
    </div>
    <div class="botones">
      <p-button icon="pi pi-search" (click)="onSubmit()" label="Buscar" styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-print" (click)="onBtPrint()" label="Imprimir" styleClass="p-button-text p-button-help"></p-button>
    </div>
  </form>

  <!-- VISTA BOLETA DE CARGO -->
  <ag-grid-angular
  class="ag-theme-balham mt-3"
  id="myGrid"
  style="width: 100%; height: 500px"
  [rowData]="rowData"
  [columnDefs]="colDefs"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  ></ag-grid-angular>

  <p-dialog 
  header="Boletas de Cargo" 
  [(visible)]="visible" 
  [modal]="true" 
  [style]="{ width: '80vw' }" 
  [draggable]="false" 
  [resizable]="false"
  [maximizable]="true"
  closeIcon="pi pi-times" >
  <div class="m-0">
    <p-table [value]="rowData" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-sm" id="print-section">
      <ng-template pTemplate="header">
          <tr>
              <th>Reclamo</th>
              <th>Código</th>
              <th>Descripción</th>
              <th>NC</th>
              <th>Motivo</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.reclamo }}</td>
              <td>{{ product.prodCodBar }}</td>
              <td>{{ product.prodDescripcion }}</td>
              <td>{{ product.ncred }}</td>
              <td>{{ product.motivo }}</td>
          </tr>
      </ng-template>
  </p-table>
  <button class="btn btn-outline-primary" printSectionId="print-section" [useExistingCss]="true" ngxPrint>Imprimir con formato</button>
  <button class="btn btn-outline-danger" printSectionId="print-section" ngxPrint style="margin-left: 2%;">Imprimir sin formato</button>
</div>
  


