<form class="container bCargo" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <div class="datepicker">
      <input matInput [matDatepicker]="picker" [formControl]="date" />
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <mat-hint>Elije una fecha</mat-hint>
  </mat-form-field>
  <button type="submit" class="btn btn-primary buscarBC">Buscar</button>
</form>
