.containerDiv {
  margin-top: 3%;
  margin-left: 70px;
  margin-right: 30px; 
  .alert {
    text-align: center;
  }
}
.datepicker {
  display: flex;
  flex-direction: row;
}
.bCargo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0% 2% 0%;
  div{
    width: 50%
  }
  mat-form-field {
    width: 100%;
  }
  .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
      margin: 2%;
    }
  }
}

//SPINNER
.loader-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}
