<div class="container card card-body containerDiv">
  <form class="container bCargo" (ngSubmit)="onSubmit()">
    <!-- DATEPICKER PARA SELECIONAR FECHA DE BOLETAS DE CARGO -->
    <mat-form-field appearance="fill" class="spacingComponents">
      <mat-label>Fecha inicial de búsqueda</mat-label>
      <input type=date matInput [formControl]="date"/>
    </mat-form-field>
    <button type="submit" class="btn btn-primary buscarBC">Buscar</button>
  </form>
  
  <!-- TABLA PARA VISUALIZAR BOLETAS DE CARGO EN LA WEB, SIN NECESIDAD DEL REPORTE -->
  <!-- TODAVIA NO FUNCIONA -->
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Reclamo</th>
          <th scope="col">NC</th>
          <th scope="col">Código</th>
          <th scope="col">Descripción</th>
          <th scope="col">Falla</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

