.datepicker {
  display: flex;
  flex-direction: row;
}
.bCargo {
  display: flex;
  justify-content: center;
  margin: 5% 0% 2% 0%;
  .buscarBC {
    display: flex;
    align-self: center;
    height: 50%;
    margin-left: 1%;
  }
}

.table-responsive {
  margin-right: 5%;
  margin-left: 5%;
}

//HEIGTH POST 600 ++ WIDTH POST 800
@media screen and (min-height: 600px) and (min-width: 800px) {
  .table-responsive {
    margin-right: 10%;
    margin-left: 10%;
  }
}
