.containerDiv {
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.datepicker {
  display: flex;
  flex-direction: row;
}
.bCargo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0% 2% 0%;
  div{
    width: 50%
  }
  mat-form-field {
    width: 100%;
  }
  .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
      margin: 2%;
    }
  }
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  /* border: 1px solid #dee2e6; */
  border-width: 0 0 1px 0;
  /* padding: 1rem 1rem; */
  /* display: flex; */
  justify-content: space-around;
}

//HEIGTH POST 600 ++ WIDTH POST 800
@media screen and (min-height: 600px) and (min-width: 800px) {
  .table-responsive {
    margin-right: 10%;
    margin-left: 10%;
  }
}
